
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: #8ad;
	color: white;
	text-shadow: none;
}

@font-face {
	font-family: myHelv;
	font-weight: normal;
	src:
		local("Arial");
}

@font-face {
	font-family: myHelvBlack;
	font-weight: 900;
	src:
		local("Arial Black");
}

@font-face {
	font-family: myHelvCond;
	font-stretch: condensed;
	src:
		local("Arial Narrow");
}

form { margin: 0; padding: 0; }

body,input,select,textarea {
	font-family: myHelv, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #555;
}

.stdbg { background-image: url(/img/bg0.png); }

b, strong { font-weight: bold; }

small { font-size: 12px; }

table.ftbl { border-spacing: 0; table-layout: fixed; width: 100%; }
table.ftbl>tbody>tr>th, table.ftbl>tbody>tr>td { padding: 0; vertical-align: top; }

.black {
	font-family: myHelvBlack, sans-serif;
	font-weight: 900;
}

.cond {
	font-family: myHelvCond, sans-serif;
	font-stretch: condensed;
}

input[type=text], input[type=password], textarea {
	border-radius: 3px;
	border: 1px solid #bbb;
	box-shadow: inset 0px 0px 2px #bbb, 1px 1px 0px #fff;
	padding: 7px 6px 5px;
	padding-bottom: 5px;
	margin: 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
input[type=text][readonly], textarea[readonly] {
	background-color: #f4f4f4 !important;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #aaa;
	box-shadow: inset 0px 0px 3px #aa8, 1px 1px 0px #eee, 0 0 5px #4af;
	outline: none;
}
input[type=text].search-box {
	border-radius: 2em;
	padding-left: 25px;
	background: url(/img/search.png) no-repeat 5px center, #fff;
}
.abs-hidden {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	width: 0;
}

input::-webkit-input-placeholder { color: #aaa; }
input:-moz-placeholder { color: #aaa; }
input:-ms-input-placeholder { color: #aaa; }

hr {
	border: none;
	border-top: #bbb solid 1px;
	border-bottom: #fff solid 1px;
}

.ttl {
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.bttl {
	font-family: myHelvBlack, sans-serif;
	font-weight: 900;
	font-size: 32px;
	color: #aaa;
	letter-spacing: -3px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.gr { color: #aaa; }

.no_ a, a.no_ { text-decoration: none }

.hint {
	color: #999;
	font-size: 13px;
	font-style: italic;
}

.wglare { text-shadow: 0 1px 0 #fff; }

.on { color: #953; }

img { border: 0 none; }

a { color: #953; }


.c1000 {
	width: 980px;
	margin: auto;
}

.sp20 { display: inline-block; width: 20px; }
.sp10 { display: inline-block; width: 10px; }

.vmid { vertical-align: middle; }
.floatr { float: right; }
.clr { clear: both; }

.grad1 {
	background-color: #eee;
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
	background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
}

.x {
	width: 18px;
	min-width: 18px;
	height: 18px;
	min-height: 18px;
	cursor: pointer;
	background: url(/img/x.png) no-repeat center center;
}


/* --- MODAL POPUPS, ERROR MESSAGES --- */


.modal-win {
	padding: 10px;
	border-radius: 20px;
	background-color: #999;
}
.modal-win .modal-body {
	border-radius: 12px;
	box-shadow: 1px 1px 1px #888;
}
.modal-win .modal-buttons button { margin: 0 0.75em; }
.modal-win.larger {
	width: 66% !important;
	top: 10% !important;
}
.modal-win.larger:before {
	content: '';
	position: absolute;
	right: -12px;
	top: -12px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #999;
	background-color: #999;
}
.modal-win.larger .x {
	right: -13px !important;
	top: -13px !important;
	background-color: #fff !important;
	width: 26px;
	height: 26px;
	border-radius: 50%;
}
.modal-win.larger .modal-content { max-height: 70% !important; }



/* HREF-BASED BUTTON */

.gbtn {
	display: inline-block;
	padding: 5px 25px 4px 25px;
	text-decoration: none;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	border-radius: 1em;
	border: 1px solid #b4b4b4;
	overflow: hidden;
	box-shadow: 0 0 2px #ccc;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	cursor: default;
	background-color: #eee;
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
	background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
}
.gbtn[disabled] { color: #aaa; box-shadow: none; }
.gbtn:hover { box-shadow: 0 0 5px #aaa; }
.gbtn[disabled]:hover { box-shadow: none; }
.gbtn:active {
	box-shadow: 0 0 2px #bbb;
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
}
.gbtn[disabled]:active { box-shadow: none; }
.gbtn.gimg { padding: 0 }
.gbtn.gimg>img {
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: 4px;
}
.gbtn[disabled].gimg>img { opacity: 0.5; }


/* FORMS */

.form-buttons { margin: 25px 0; text-align: center; }

.form .fld { position: relative; margin: 7px 0; }
.form label {
	display: inline-block;
	margin-bottom: 4px;
	color: #888;
	text-shadow: 0 1px 0 #fff;
	vertical-align: bottom;
}
.form input[type=text], .form input[type=password],
	.form textarea, .form select { width: 100%; }
table.ftbl.fld>tbody>tr>td { padding: 2px; }
.form input[type=text], .form input[type=password] {
	max-height: 30px;
}

.form .fval-mid {
	display: table-cell;
	height: 30px;
	max-height: 30px;
	background-color: #ddd;
	vertical-align: middle;
	padding: 0 3px;
	border-radius: 3px;
	border: 2px solid #ccc;
	box-shadow: 1px 1px 0px #fff;
}

.big-form .fld { margin: 12px 0; }
.big-form label {
	display: inline-block;
	margin-bottom: 4px;
	color: #888;
	text-shadow: 0 1px 0 #fff;
	vertical-align: bottom;
}
.big-form input[type=text], .big-form input[type=password], .big-form textarea {
	font-size: 20px;
	padding: 6px 8px;
	border-radius: 6px;
	width: 100%;
}
.big-form select { width: 100%; }
.big-form input[type=text].search-box {
	border-radius: 2em;
	padding-left: 25px;
}
